<main>
    <h2>Select your pack</h2>
    <div id="pack-selector">
        <div class="pack-selector-pack" onclick={{onclick_default}}>
            <h3>Getting Started</h3>
            <p>The perfect way to start the party and add some fun to your night. Get ready, Picolo shows no mercy.</p>
        </div>
        <div class="pack-selector-pack" onclick={{onclick_silly}}>
            <h3>Getting Crazy</h3>
            <p>If you want the night to get even crazier, this game is for you. Only for the wildest players!</p>
        </div>
        <div class="pack-selector-pack" onclick={{onclick_bar}}>
            <h3>Bar</h3>
            <p>If you're ready to turn the bar updside down, this is the perfect game. Be prepared to face ridicule.</p>
        </div>
        <div class="pack-selector-pack" onclick={{onclick_hot}}>
            <h3>Caliente</h3>
            <p>Time to get a little naughty. Be prepared to reveal your best-kept secrets.</p>
        </div>
        <div class="pack-selector-pack" onclick={{onclick_war}}>
            <h3>War</h3>
            <p>Friends, come together! Show your opponents no mercy, for tonight is war!</p>
        </div>

        <div id="pack-selector-player-count">{{player_count}} players</div>
    </div>
</main>
