<main id="player-list">
    <h2>List players</h2>

    <div id="player-list-list">
        <div iter class="player-list-player">
            <input type="text" id="player-input-{{i_iter}}" value={{player_iter}} onchange={{onchange}} />
            <button id="player-remove-{{i2_iter}}" onclick={{onclick_remove}}>Remove</button>
        </div>
        <button onclick={{onclick_add}}>Add player</button>
    </div>

    <div id="bottom-buttons">
        <button onclick={{onclick_next}}>Next</button>
    </div>
</main>
