<main id="settings">
    <h2>Confirm settings</h2>
    
    <div id="settings-list">
        <div class="setting">
            <h3>Party duration (slides)</h3>
            <input type="number" id="setting-party-duration" value="{{party_duration}}" onchange={{onchange_setting}} />
        </div>
        <div class="setting">
            <h3>Max virus duration</h3>
            <input type="number" id="setting-max-virus-duration" value="{{max_virus_duration}}" onchange={{onchange_setting}} />
        </div>
    </div>
    
    <div id="bottom-buttons">
        <button onclick={{onclick_back}}>Back</button>
        <button onclick={{onclick_next}}>Next</button>
    </div>
</main>
